@import "../../styles/variables";

.navbar {

    height: 90px;
    padding: 0 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__brand {
        font-size: 24px;

        span {
            color: $color-accent;
        }
    }
    &__links {
        display: flex;

        &__link {
            margin: 0 15px;
            font-size: 16px;
            color: #555;
            text-decoration: none;
            padding: 5px 10px;
            border-radius: 5px; // Rounded corners for the links
            transition: background-color 0.3s ease, color 0.3s ease;

            &:hover {
                background-color: #5222ff; // Change background on hover
                color: #ffffff; // Text color on hover
            }

            &--active {
                background-color: #007bff; // Different background for active link
                color: #ffffff;
            }
        }
    }

    // Responsive design for smaller screens
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        
        &__links {
            width: 100%;
            margin-top: 10px;

            &__link {
                display: block;
                width: 100%;
                margin: 5px 0;
            }
        }
    }
}